<style type="text/css">
 #content{
        background: #42d9f4;
        position:absolute;
        left:0;
        top: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        font: 50px Georgia, oblique;
        font-style:oblique;
         }
    #text{
        text-align:center;
        margin-top:90px;
       
    
    }
    #back{
        text-align:center;
        margin-top:50px;
         font: 20px Georgia;
         font-style:oblique;
     }
</style>